# Changelog

{{#tags}}

## [{{name}}](https://github.com/{{ownerName}}/{{repoName}}/releases/{{name}}) ({{tagDate .}})

{{#ifContainsType commits type='feat'}}
### Features

    {{#commits}}
      {{#ifCommitType . type='feat'}}
- {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/{{ownerName}}/{{repoName}}/commit/{{hash}}) *{{commitTime}}*)
  {{#messageBodyItems}} 
    > {{.}}
  {{/messageBodyItems}}
      {{/ifCommitType}}
    {{/commits}}
{{/ifContainsType}}

{{#ifContainsType commits type='refactor'}}
### Refactor

    {{#commits}}
      {{#ifCommitType . type='refactor'}}
- {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/{{ownerName}}/{{repoName}}/commit/{{hash}}) *{{commitTime}}*)
  {{#messageBodyItems}} 
    > {{.}}
  {{/messageBodyItems}}
      {{/ifCommitType}}
    {{/commits}}
{{/ifContainsType}}

{{#ifContainsType commits type='fix'}}
### Bug Fixes

    {{#commits}}
      {{#ifCommitType . type='fix'}}
- {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/{{ownerName}}/{{repoName}}/commit/{{hash}}) *{{commitTime}}*)
  {{#messageBodyItems}} 
    > {{.}}
  {{/messageBodyItems}}
      {{/ifCommitType}}
    {{/commits}}
{{/ifContainsType}}

{{#ifContainsType commits type='docs'}}
### Documentation

    {{#commits}}
      {{#ifCommitType . type='docs'}}
- {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/{{ownerName}}/{{repoName}}/commit/{{hash}}) *{{commitTime}}*)
  {{#messageBodyItems}} 
    > {{.}}
  {{/messageBodyItems}}
      {{/ifCommitType}}
    {{/commits}}
{{/ifContainsType}}

{{#ifContainsType commits type='ci'}}
### CI

    {{#commits}}
      {{#ifCommitType . type='ci'}}
- {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/{{ownerName}}/{{repoName}}/commit/{{hash}}) *{{commitTime}}*)
  {{#messageBodyItems}} 
    > {{.}}
  {{/messageBodyItems}}
      {{/ifCommitType}}
    {{/commits}}
{{/ifContainsType}}

{{#ifContainsType commits type='build'}}
### ALM 

    {{#commits}}
      {{#ifCommitType . type='build'}}
- {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/{{ownerName}}/{{repoName}}/commit/{{hash}}) *{{commitTime}}*)
  {{#messageBodyItems}} 
    > {{.}}
  {{/messageBodyItems}}
      {{/ifCommitType}}
    {{/commits}}
{{/ifContainsType}}

{{#ifContainsType commits type='test'}}
### Tests 

    {{#commits}}
      {{#ifCommitType . type='test'}}
- {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/{{ownerName}}/{{repoName}}/commit/{{hash}}) *{{commitTime}}*)
  {{#messageBodyItems}} 
    > {{.}}
  {{/messageBodyItems}}
      {{/ifCommitType}}
    {{/commits}}
{{/ifContainsType}}

{{#ifContainsType commits type='style'}}
### Code style 

    {{#commits}}
      {{#ifCommitType . type='style'}}
- {{#eachCommitScope .}} **{{.}}** {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/{{ownerName}}/{{repoName}}/commit/{{hash}}) *{{commitTime}}*)
  {{#messageBodyItems}} 
    > {{.}}
  {{/messageBodyItems}}
      {{/ifCommitType}}
    {{/commits}}
{{/ifContainsType}}

{{/tags}}
